<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.project3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_bug"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_bug_round"
        android:theme="@style/Theme.Project3">
        <activity
            android:name=".menus.PendingVerification"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menus.TowerUpgradeInfo"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menus.MainMenu"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".gameStructure.GameView"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menus.Login"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menus.SplashScreen"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>