<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project2_rev2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project2rev2">
        <activity
            android:name=".menus.Settings"
            android:exported="false" />
        <activity
            android:name=".menus.TowerUpgradeInfo"
            android:exported="false"
            android:label="@string/title_activity_tower_upgrade_info"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Project2rev2.NoActionBar" />
        <activity
            android:name=".menus.MainMenu"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".gameStructure.GameView"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menus.Login"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menus.MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>